@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body { /*CONFIGURANDO O FUNDO DO SITE*/
    background: url(../imagens/fundo-site06.jpg) no-repeat top center; /*INSERINDO A IMAGEM DO FUNDO*/
    background-size: cover; /*A IMAGEM IRÁ PREENCHER A TELA INTEIRA*/
    background-attachment: fixed; /* PARA NAO HAVER ROLAGEM*/

}

main { /*CONFIGURAÇÃO DO CONTAINER DE FORA*/
    position: relative; /*O OBJETO FICARÁ SEMPRE CENTRALIZADO*/
    height: 100vh;
    
}

section#telefone { 
    /*CONFIGURAÇÃO DO CONTAINER DE DENTRO PARA DEIXAR O OBJETO SEMPRE CENTRALIZADO*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height:528px;
    width: 260px;
    background: url('../imagens/frame-iphone.png') no-repeat; /*INSERINDO A IMAGEM DO IPHONE*/
}

iframe#tela { /*CONFIGURAÇÃO DA TELA DENTRO DO CELULAR*/
    position: relative;
    top: 66px;
    left: 17px;
    width: 230px;
    height: 400px;
    background-size: cover;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img { /*CONFIGURAÇÃO DOS BOTÕES*/
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%; /*DEIXANDO OS BOTÕES REDONDOS*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 400); /*CONFIGURAÇÃO DAS SOMBRAS DOS BOTÕES*/
    box-sizing: border-box; /*OS BOTOES NAO IRÃO SE MEXER AO SEREM CLICADOS*/
}

section#redes-sociais img:hover { /*ANIMAÇÃO DOS BOTÕES*/
    border: 2px solid rgba(255, 255, 255, 0.661);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.670);
    transition: transform .3s border 1s;

}